body {
    background-color: #DDD;
}

.rounded-img {
    width: 60%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 0.6em;
    margin-bottom: 1em;
}

.card {
    border-radius: 1em;
    text-align: center;
    border-image: 1em;
    padding: 1em
}

.card img {
    border-radius: 1em 1em 0 0;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.1);
}